*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/*以下　ヘッダー*/
.header{
  width:100%;
  height:120px;
  background-color:red;
}

.header-top{
  width:100%;
  height:70px;
  background-color:hotpink;
}

.header-bottom{
  width:100%;
  height:50px;
  background-color:pink;
}
/*ここまで　ヘッダー*/
/*以下　メインビジュアル*/
.main-visual{
  width:100%;
  height:300px;
  background-color:orange;
  }

.main-visual-content{
  width:350px;
  height:300px;
  background-color:gold;
}
/*ここまで　メインビジュアル*/
  /*以下　メイン*/
.main{
  width:840px;  /*元は％表記　FlexBox指定したためpx指定へ変更*/
  /*height:1400px;*/
  display:flex;  /*Flexboxの利用*/
  justify-content:center;  /*子要素の横並び・中央寄せ*/
  margin:0 auto;  /*中央寄せ（左右に余白がないとできない）*/
}

.blog{
  width:600px;
  height:1400px;
  background-color:limegreen;
}

.sidebar{
  width:240px;
  height:1400px;
  background-color:palegreen;
}
/*ここまで　メイン*/
/*以下　フッター*/
.footer{
  width:100%;
  height:120px;
  background-color:blue;
}

