* {
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

                      /*ここからヘッダー*/
.main-header{
  width:100%;
  height:50px;
  margin-bottom:50px;
  background-color:#FF9A4B;
}

                      /*ここからメイン*/
.main-visual{
  width:960px;
  display:flex;
  justify-content:center;
  position:relative;
}

.main-box1{
  width:300px;
  height:400px;
  background-color:#EEEEEE;
  padding:10px 10px 0 10px;
  
}

img {
  background-image: url(img/flow01);
  background-size: cover;
  background-position: center;
  width:100%;
  height:150px;
  padding-bottom:15px;
}

.main-title{
  width:100%;
  height:10px 0;
  padding-bottom:5px;
}

.main-text{
  
  
}

.main-step{
  width:45px;
  height:30px;
  background-color:#FF9A4B;
  position:absolute;
  /**/
}
 
.main-step p { 
  color:#FFF;
}


 
      /*<div class="main-visual">*/
        /*<section class="main-box1">*/
          /*<img class="img" src="img/flow01.png">*/
          /*<h3 class=main-title>タイトルが入ります</h3>*/
          /*<p class=main-text>文章が入ります。</p>*/
          /*<div class="main-step"><p>step1</p>*/





                      /*ここからフッター*/
.main-footer{
  width:100%;
  height:50px;
  margin-top:50px;
  background-color:#AAAAAA;
}

